<div class="loginPageContainer">
  <div class="header-2"><div class="headerBorder" style="text-align: left;"><img
        src="../images/logo.png"
      /></div><div class="headerMiddle">Tienda de vehículos de lujo</div><div
      class="headerBorder"
      style="text-align: right;"
    ><a
        onclick="history.back()"
        style="cursor: pointer;"
      >Regresar</a></div></div>

  <div
    class="loginContainer col-10 col-sm-9 col-md-5 col-lg-4 col-xl-3 col-xxl-3"
  >
    <div class="loginHeader"><h2>Registra tu cuenta</h2></div>
    <div class="loginBody">
      <form>
        <label for="first_name">Nombres:</label>
        <input
          type="text"
          id="first_name"
          name="first_name"
          placeholder="Tus nombres"
        />
        <label for="last_name">Apellidos:</label>
        <input
          type="text"
          id="last_name"
          name="last_name"
          placeholder="Tus apellidos"
        />
        <label for="birthdate">Fecha de nacimiento:</label>
        <input
          type="date"
          id="birthdate"
          name="birthdate"
          placeholder="DD/MM/AAAA"
        />
        <label for="email">Email:</label>
        <input
          type="email"
          id="email"
          name="email"
          placeholder="tumail@mail.com"
        />
        <label for="password">Contraseña:</label>
        <input
          type="password"
          id="password"
          name="password"
          placeholder="********"
        />
        <label for="password">Repetir contraseña:</label>
        <input
          type="password"
          id="password-retype"
          name="password-retype"
          placeholder="********"
        />
        <label id="error_message" style="color: red; font-size: 12px"></label>
        <button type="submit" id="btn_register">Registrar cuenta</button>
      </form>
    </div>
    <div class="loginFooter"></div>
  </div>

</div>

<script type="module" src="/js/register.js"></script>

<link
  href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
  rel="stylesheet"
  integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
  crossorigin="anonymous"
/>
<script
  src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
  integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
  crossorigin="anonymous"
></script>