* {
  font-family: Arial, Helvetica, sans-serif;
}

body {
  margin: 0px;
}

h1 {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 10px;
}

h2 {
  text-align: center;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: hsla(0, 0%, 0%, 0.3);
  width: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
  height: 60px;
  text-align: center;
  color: white;
  padding: 2%;
}

.header-2 {
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to right, #006eff, #00a7df);
  width: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
  height: 60px;
  text-align: center;
  color: white;
  padding: 2%;
}

.header-2 img {
  width: auto;
  height: 40px;
}

.headerBorder {
  width: 15%;
}

.headerMiddle {
  width: 70%;
  text-align: center;
}

.activationContainer {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.managerContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.managers {
  display: flex;
  flex-direction: row;
  padding: 1%;
  width: 100%;
  justify-content: space-around;
}

.managerProductContainer {
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: auto;
  background-color: rgb(237, 237, 237);
  justify-content: space-between;
  padding: 1%;
}
.managerProductContainer div {
  margin: 10px;
}

input {
  border-radius: 5px;
  height: 35px;
}

.btnAddProduct {
  height: 40px;
  width: auto;
  background-color: green;
  color: white;
}

.totalContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;

  align-items: center;
}

.productContainer {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  margin: 10px;
  padding: 10px;
  border: 1px solid gray;
  background-color: rgb(247, 247, 247);
  border-radius: 10px;
  width: 500px;
  height: auto;
}

.productImage {
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
  align-items: center;

  width: 200px !important;
  height: auto;
  max-height: 180px;
}

.productImage img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center;
  border-radius: 10px;
  border: 1px solid gray;
}

.productInfo {
  display: flex;
  flex-direction: column;
  margin-left: 20px;
  width: 50%;
}

.activationFlag {
  padding: 5px;
  border-radius: 5px;

  font-weight: bold;
}

.btn-Activar {
  background-color: green;
  height: 30px;
  color: aliceblue;
  border-radius: 5px;
}

.btn-Eliminar {
  background-color: red;
  height: 30px;
  color: aliceblue;
  border-radius: 5px;
}

/* ESTILOS PARA CHAT EN TIEMPO REAL */
.messagesContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.messagesArea {
  height: 60vh;
  width: 100%;

  padding: 20px;
  overflow: scroll;
  display: flex;
  flex-direction: column;
}

.inputMessage {
  display: flex;

  width: 90%;
  height: 60px;

  position: absolute;
  bottom: 0;
  justify-content: center;
}

.messagebox {
  width: 90%;
  height: 40px;
  border-radius: 5px;
  padding: 1%;
}
.ownMessageDialog {
  margin-top: 5px;
  align-self: start;
  max-width: 50%;
  width: auto;
  height: auto;
  border-radius: 10px;
  padding: 10px;
  background-color: rgba(0, 255, 170, 0.5);
  border: 1px solid black;
}

.otherMessageDialog {
  margin-top: 5px;
  align-self: end;
  max-width: 50%;
  width: auto;
  height: auto;
  border-radius: 10px;
  padding: 10px;
  background-color: rgba(0, 210, 243, 0.515);
  border: 1px solid black;
}

/* SEGUNDA PRE ENTREGA */

.productsContainer {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}

.productDescription {
  margin: 10px;
}

p {
  margin: 5px;
  padding: 0;
}

button {
  margin: 5px;
}

.productDetailImage {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  width: 50%;
  height: 300px;
}

.productDetailImage img {
  height: 300px;
  border-radius: 10px;
  border: 1px solid gray;
  width: 100%;
  object-fit: cover;
  object-position: center;
}

.productDetailDescription {
  margin: 10px;
  width: 50%;
  text-align: center;
}

/* CART */
.productContainerInCart {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  margin: 10px;
  padding: 10px;
  border: 1px solid gray;
  background-color: rgb(247, 247, 247);
  border-radius: 10px;
  width: 80%;
  height: auto;
}

.cartContainer {
  display: flex;

  flex-direction: column;
  margin: 10px;
  padding: 10px;
  align-items: center;
  width: 100%;
  height: auto;
  text-align: center;
  justify-content: center;
}

.productInCartImage img {
  width: 200px;
  height: 150px;
  border-radius: 10px;
  border: 1px solid gray;
  object-fit: cover;
  object-position: center;
  margin-right: 20px;
}

.productInCartDetail {
  display: flex;
  flex-direction: column;
  text-align: left;
}
.productInCartDetail div {
  padding: 5px;
}

/* Header */

.headerContainer {
  display: flex;
  flex-direction: row;
  width: 100%;
  align-items: center;
  padding: 10px;
}

.borderHeader {
  display: flex;
  flex-direction: row;
  width: 10%;
  align-items: center;
  padding: 10px;
  text-align: center;
  justify-content: center;
}

.middleHeader {
  display: flex;
  flex-direction: row;
  width: 80%;
  align-items: center;
  padding: 10px;
  text-align: center;
  justify-content: center;
}

/* LOGIN CSS */

.loginPageContainer {
  width: 100%;
  height: 100vh;
  background: linear-gradient(to right, #006eff, #00a7df);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.loginContainer {
  height: auto;
  background-color: white;
  border-radius: 10px;
  padding: 10px;
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.loginBody {
  display: flex;
  flex-direction: column;

  justify-content: center;
  align-items: center;
  width: 80%;
}

.loginBody form {
  width: 90%;
}

.loginBody input {
  align-content: center;
  font-size: 14px;
  padding: 2%;
  width: 100%;
  margin-top: 10px;
  border-radius: 10px;
  border: 1px solid gray;
}

.loginBody label {
  font-size: 14px;
  width: 100%;
  margin-top: 10px;
}

.loginBody button {
  font-size: 14px;
  font-size: 16px;
  font-weight: 500;
  width: 100%;
  margin-top: 20px;
  margin-bottom: 10px;
  height: 40px;
  border-radius: 10px;
  background: linear-gradient(to right, #006eff, #00a7df);
  border: 0px solid white;
  color: white;
}

.loginBody button:hover {
  font-size: 16px;
  font-weight: 500;
  width: 100%;

  height: 40px;
  border-radius: 10px;
  background: linear-gradient(to right, #00275b, #016c8f);
  border: 0px solid white;
  color: white;
}

.loginFooter {
  padding: 10px;
}

.accountPageContainer {
  width: 100%;
  height: 100vh;
  background-color: white;
  display: flex;
  justify-content: flex-start;
  padding-top: 100px;
  align-items: center;
  flex-direction: column;
}
